.App {
align-content: center;
padding: 20px;
background: #fff;
}

.App-title {
display: flex;    
font-size: 36px;
color: #007fa3;
}

.Container {
display: flex;
flex-wrap: wrap;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
background: #d8d8d8;
padding: 30px;
}

.header {
display: flex;
flex-direction: column;
}

.search-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: flex-end;
}
